 <div class="w3-top w3-card-2" >   
<header class="w3-bar w3-border-bottom w3-border-black w3-card">
    <div class="w3-bar w3-padding w3-black"id="top">
<div class="w3-content-large">
    <a class="w3-bar-item-sm w3-right" href="tel:+1 650 577 9234" target="_self" style="padding: 2px .5em ;"><img src="assets/img/call.png" width="25" alt="Call United Studios of Self Defense" title="Call United Studios of Self Defense">
            </a>

    <a class="w3-bar-item-sm w3-right" href="{{YouTube}}" target="_blank" style="padding: 2px .5em ;">
      <img src="assets/icons/svg/youtube-icon.svg" width="20" alt="USSD YouTube Channel" title="USSD YouTube Channel"></a>
        
    <a class="w3-bar-item-sm w3-right " href="{{Twitter}}" target="_blank" style="padding: 2px .5em ;">
                <img src="assets/icons/svg/twitter-icon.svg" width="20" alt="United Studios of Self Defense Foster City on Twitter" title="United Studios of Self Defense Foster City on Twitter"> </a>
          
    <a class="w3-right w3-bar-item-sm " href="{{Facebook}}" target="_blank" style="padding: 2px .5em ;">
            <img src="assets/icons/svg/f-facebook-icon.svg" width="20" alt="United Studios of Self Defense Foster City on Facebook" title="United Studios of Self Defense Foster City Facebook Page"> </a>
     <a class="w3-right w3-bar-item-sm" href="{{Instagram}}" target="_blank" style="padding: 2px .5em ;">
            <img src="assets/icons/svg/Instagram-icon.svg" width="20" alt="United Studios of Self Defense Foster City on Instagram" title="United Studios of Self Defense Foster City Instagram"> </a>
</div>
   
  

 <div class="w3-hide-small w3-hide-medium w3-row w3-theme-d2">
       
   <div class="w3-content-large w3-bar w3-hover-theme-d2">
       <a class="w3-bar-item w3-btn w3-theme-d2 w3-padding-8 w3-left w3-wide w3-text-shadow" href="/">UNITED STUDIOS OF SELF DEFENSE</a>
        <a class="w3-right w3-bar-item w3-btn w3-theme-d2 w3-padding-8 w3-border-right" href="/contact">Contact</a> 
        <a class="w3-right w3-bar-item w3-btn w3-theme-d2 w3-padding-8 w3-border-right" href="/free-pass">Free Pass</a> 
       	 <a class="w3-right w3-bar-item w3-btn w3-theme-d2 w3-padding-8 w3-border-right" href="/shop">Shop</a> 
       
 <!-- Info -->  <div class="w3-dropdown-hover w3-right">
    <button class="w3-button w3-hover-theme w3-border-right">School Info</button>
       
    <div class="w3-dropdown-content w3-bar-block w3-card-4">
      
   		 <a class="w3-bar-item w3-button w3-theme-d2 w3-padding-small w3-hover-theme" href="/about-united-studios-of-self-defense">About United Studios</a>

   		 
   		 <a class="w3-bar-item w3-button w3-theme-d2 w3-padding-small w3-hover-theme" href="/Foster-City-Dojo-News">Dojo News</a>

   		 
   		 <a class="w3-bar-item w3-button w3-theme-d2 w3-padding-small w3-hover-theme" href="/martial-arts-class-schedule">Group Class Schedule</a>

   		 
   		 <a class="w3-bar-item w3-button w3-theme-d2 w3-padding-small w3-hover-theme" href="/instructors">Martial Arts Instructors</a>

   		 
   		 <a class="w3-bar-item w3-button w3-theme-d2 w3-padding-small w3-hover-theme" href="/blog">Master Pinpin's Blog</a>

   		 
   		 <a class="w3-bar-item w3-button w3-theme-d2 w3-padding-small w3-hover-theme" href="/shop">Supplies</a>

   		 
    </div>
  </div> 		
       

       
    
  <!-- Program -->  <div class="w3-dropdown-hover w3-theme-d2 w3-right">
            <button class="w3-button w3-hover-theme w3-border-right w3-border-left">Programs</button>
 	   		<div class="w3-dropdown-content w3-bar-block w3-card-4">
               
      		
             
                <a class="w3-bar-item w3-button w3-theme-d2 w3-hover-theme w3-padding-small" href="/martial-arts-for-adults">Martial Arts for Adults</a> 
                <a class="w3-bar-item w3-button w3-theme-d2 w3-hover-theme w3-padding-small" href="/womens-self-defense-class">Women's Self Defense</a> 
                <a class="w3-bar-item w3-button w3-theme-d2 w3-hover-theme w3-padding-small" href="/martial-arts-for-kids">Martial Arts for Kids</a> 
                <a class="w3-bar-item w3-button w3-theme-d2 w3-hover-theme w3-padding-small" href="/the-pee-wee-program">The Pee Wee Program for Preschool age kids</a> 
                <a class="w3-bar-item w3-button w3-theme-d2 w3-hover-theme w3-padding-small" href="/overview-of-services">Program List</a> 
                </div>
       </div>
 		
      
        

    </div>
 </div>
   
   <div class="w3-row w3-theme-d2 w3-hide-large" style="width:100%">
        <a class="w3-bar-item w3-btn w3-theme-d2 w3-padding-8 w3-left" href="/">UNITED STUDIOS OF SELF DEFENSE</a>
      
       <div class="w3-dropdown-click w3-right">
    <button onclick="myFunction()" class="w3-button w3-theme-d2 w3-hover-theme"><i class="fa fa-bars">&nbsp;</i>Menu</button>
    <div id="Demo" class="w3-dropdown-content w3-bar-block w3-border" style="right:0;width:100%">
      <a class="w3-bar-item w3-button w3-theme-d2 w3-hover-theme w3-padding-small" href="#">Programs</a>
        
                 
         <a class="w3-bar-item w3-button w3-theme-d2 w3-hover-theme w3-large" href="/martial-arts-for-adults">Martial Arts for Adults</a> 
         <a class="w3-bar-item w3-button w3-theme-d2 w3-hover-theme w3-large" href="/womens-self-defense-class">Women's Self Defense</a> 
         <a class="w3-bar-item w3-button w3-theme-d2 w3-hover-theme w3-large" href="/martial-arts-for-kids">Martial Arts for Kids</a> 
         <a class="w3-bar-item w3-button w3-theme-d2 w3-hover-theme w3-large" href="/the-pee-wee-program">The Pee Wee Program for Preschool age kids</a> 
         <a class="w3-bar-item w3-button w3-theme-d2 w3-hover-theme w3-large" href="/overview-of-services">Program List</a> 
      <a class="w3-bar-item w3-button w3-theme-d2 w3-hover-theme w3-padding-small" href="#">School Info</a>
        
                
                <a class="w3-bar-item w3-button w3-theme-d2 w3-hover-theme w3-large " href="/about-united-studios-of-self-defense">About United Studios</a> 
                <a class="w3-bar-item w3-button w3-theme-d2 w3-hover-theme w3-large " href="/Foster-City-Dojo-News">Dojo News</a> 
                <a class="w3-bar-item w3-button w3-theme-d2 w3-hover-theme w3-large " href="/martial-arts-class-schedule">Group Class Schedule</a> 
                <a class="w3-bar-item w3-button w3-theme-d2 w3-hover-theme w3-large " href="/instructors">Martial Arts Instructors</a> 
                <a class="w3-bar-item w3-button w3-theme-d2 w3-hover-theme w3-large " href="/blog">Master Pinpin's Blog</a> 
                <a class="w3-bar-item w3-button w3-theme-d2 w3-hover-theme w3-large " href="/shop">Supplies</a> 
            
         <a class="w3-bar-item w3-button w3-theme-d2 w3-hover-theme w3-large" href="/contact">Contact</a> 
         <a class="w3-bar-item w3-button w3-theme-d2 w3-hover-theme w3-large" href="/free-pass">Free Pass</a> 
     
    </div>
  </div>
       
       
    </div>
     
</header>
</div>  

<script>
function myFunction() {
    var x = document.getElementById("Demo");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else { 
        x.className = x.className.replace(" w3-show", "");
    }
}
</script>


	




