---

# ProfileSettings
    Company: UNITED STUDIOS OF SELF DEFENSE FOSTER CITY CA
    Brand: UNITED STUDIOS OF SELF DEFENSE
    Slogan: America's Self Defense Leader
    Logo: assets/img/logo.jpg
    Phone: (650) 577-9234
    Email: staff@ussdfc.com
    Street: 1086 Foster City Blvd
    City: Foster City
    State: California
    Zip: 94404
    Country: United States of America
    Hours: "MON-FRI 2:00 PM - 8:00 PM SAT 9:00 AM - 1:00 PM"
   
---

---
    Company: UNITED STUDIOS OF SELF DEFENSE FOSTER CITY CA
    Street: 1086 Foster City Blvd
    City: Foster City
    State: California
    Zip: 94404
    Country: United States of America
    Phone: (650) 577-9234
    Email: staff@ussdfc.com
    Hours: MON-FRI 2:00 PM- 8:00 PM SAT 9:00 AM - 1:00 PM
    Logo: assets/img/logo.jpg
    Brand: UNITED STUDIOS OF SELF DEFENSE
    Slogan: America's Self Defense Leader
    Facebook: "http://www.facebook.com/ussdfostercity"
    FBappid: "1009237372421493"
    Twitter: "https://twitter.com/USSDFC"
    YouTube: https://www.youtube.com/channel/UCYXirK8_u6s-OUdOb00JwBg
    Instagram : "https://www.instagram.com/explore/tags/ussdfostercity/"
    publisher: United Studios of Self Defense, Foster City, CA


# ProfileSettings-page
title: Foster City Martial Arts | United Studios of Self Defense

description: >- United Studios of Self Defense is the home of Foster City Martial Arts and Self Defense Instruction -since 1994!  We invite you to experience Shaolin Kempo style self-defense training.

 ---  